 
.tarjetas{
  max-width:25%;
  border: 1 px solid #ccc;
  border-radius: 8px;
  padding:16px;
  margin:16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size:medium;
  font-weight: bold;
  
}

.tarjetas .imagen{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 8px;
  
}

.precio{

  font-size: large;
  text-align:center;
  font-weight: lighter;
}

.boton{
width: 100%;
background-color: rgb(43, 84, 142);
color: #fff;
justify-content: flex-end;
}