 
.tarjetas {
  width: 30%; /* Ajusta según sea necesario */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.portada{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}