#cartwidget {
    display: flex;
    align-items: center;
    padding:0rem;
    margin:1rem;
    position: fixed;
    top:0.5rem;
    right:2rem
   
    
}

.cart{
    font-size:xx-large;
    
}


#cartwidget p {

    padding-left:0.5rem;
    padding-right: 1rem;
}