#navbar{
    display:flex;
    position:fixed;
    top:0;
    left:0; 
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    width: 100%;
     


}

#navbar ul{
    list-style: none;
    display:flex;
    margin:1rem; 
       
        
}

#navbar ul li{
        padding:1rem;
   
    

}

#navbar img{

   width:7rem ;
   height:5rem ;
   align-content: center
   
}